@use '../../../../styles/variables' as *;
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: $color-hero-bg;
  color: $color-white;
  border-radius: 8px;
  padding: 2rem;
  position: relative;
  width: 100%;
  max-width: 500px;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: $color-danger;
}
